@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  overscroll-behavior-y: none;
  overflow: hidden;
}
